<% title_tag '重发激活邮件' %>


<div class="row">
  <div class="col-md-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">重发激活邮件</div>
      <div class="panel-body">
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "重发激活邮件" %>
  </div>
<% end %>
      </div>
    </div>
  </div>
</div>
