<div class="panel panel-default">
  <div class="panel-heading">专栏推荐 <i class="fa fa-columns"></i></div>
  <div class="panel-body">


    <hr>
    <div class="input-group">
      <input type="text" class="form-control disabled" readonly="readonly" placeholder="我要内推！">
      <span class="input-group-btn">
        <a href="https://jinshuju.net/f/V3TeyX" class="btn btn-default" type="button">Go!</a>
      </span>
    </div>
  </div>
</div>