<div class="row">

  <% if !mobile? %>
    <%= render '/columns/sidebar' %>
  <% else %>
    <div class="move-page-buttons">
      <a href="#" class="btn btn-block btn-sm btn-move-page" data-type="top"><i class="fa fa-arrow-up"></i></a>
      <a href="#" class="btn btn-block btn-sm btn-move-page" data-type="bottom"><i class="fa fa-arrow-down"></i></a>
    </div>
  <% end %>

  <div class="col-md-9">
    <%= @column.name %>
  </div>


</div>
