<div class="panel panel-default">
  <div class="panel-heading"><%= t("github_statistics.contribution_calculate_rule") %></div>
  <div class="panel-body">
    <%= '贡献指数=此用户在各个 TTF 项目中的合计代码提交数' %>
  </div>
</div>