@import "vars";

#home_index { line-height:160%; }

.home-icons {
  .item {
    text-align: center;
    margin-bottom: 15px;
    border-radius: 3px;
    background: #FFF;
    border: 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 #dfe0e4;

    .icon {
      display: block;
      a { display: block; padding: 20px 15px; }
      .fa { font-size: 60px; }
    }
    .text {
      display: block;
      text-align: left;
      background: #F5F5F5;
      border-top: 1px solid #E9E9E9;
      font-size: 14px; font-weight:bold;

      a { display:block; color: #666; padding: 6px 15px;  }
      a:hover { text-decoration: none; }
      .fa { margin-top: 3px; }
      border-radius: 0 0 3px 3px;
    }
    &:hover {
      opacity: 0.75;
    }
  }
  .item1 {
    .icon {
      .fa { color: $redLight; }
    }
  }
  .item3 {
    .icon {
      .fa { color: $blueLight; }
    }
  }
  .item2 {
    .icon {
      .fa { color: $yellowLight; }
    }
  }
  .item4 {
    .icon {
      .fa { color: $greenLight; }
    }
  }

}

h2 {
  font-size: 12px;
  color: #999;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#last_topics { float:left; width:450px; }
#hot_topics { float:right; width:450px; }

.node-topics {
  margin-bottom:0px;
  .head { display:none; }
}
.location-list {
    .name {
        a { color: #666; margin: 6px; display: inline-block; }
    }
}
@media (min-width: 768px) {
  .home_suggest_topics {
    .topics {
      .topic {
        .title {
          height: 30px;
          overflow: hidden;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .home_suggest_topics {
    .topics {
      .topic {
        .title {
          overflow: hidden;
        }
      }
    }
  }
}


.fa-map-marker, .fa-anchor, .fa-fire{
  color: red;
}


.home-main {
  .collapse {
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav-tabs-menu {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fafafa;
    border: none;
    margin: 0px;
    li a {
      border: none;
    }
    li a:hover,
    li.active a,
    li.active a:focus,
    li.active a:hover { border: none; border-bottom:3px solid $blue; color: $blue; background: transparent; border-radius: 0px;}
    li:first-child { margin-left: 0px; }
  }
  .tabbable{
    .panel {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}

.home-side-bar {
  padding-left: 0px;
  .job_topic {
    padding: 10px;
    border-bottom: 1px solid #F0F0F0;
    vertical-align: top;
    .info {
      color: #ABA8A6;
      font-size: 12px;
      a {
        color: #ABA8A6;
      }
    }
  }
  .job_topic:last-child {
    border-bottom: 0px;
  }

  #hall-of-fames {
    .users-label {
      text-align: center;
    }
    a.users-label-item {
      border: 1px solid rgba(52, 52, 53, 0.23);
      display: inline-block;
      border-radius: 23px;
      padding: 0px 9px 0px 0px;
      margin: 3px;
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
    }
    a.users-label-item img {
      border-radius: 50%;
      margin-right: 4px;
      width: 28px;
      height: 28px;
    }
  }


  .ticker-headline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 0;
    margin: 0;
    font-size: 18px;
  }

  .carousel.vertical .carousel-inner {
    height: 100%;
    width: auto;
    > .item {
      width: auto;
      padding-right: 50px;
      transition: 0.6s ease-in-out top;
      @media all and (transform-3d), (-webkit-transform-3d) {
        transition: 0.6s ease-in-out;
        &.next,
        &.active.right {
          transform: translate3d(0, 100%, 0);
          top: 0;
        }
        &.prev,
        &.active.left {
          transform: translate3d(0, -100%, 0);
          top: 0;
        }
        &.next.left,
        &.prev.right,
        &.active {
          transform: translate3d(0, 0, 0);
          top: 0;
        }
      }
    }
    > .active,
    > .next,
    > .prev {
      display: block;
    }
    > .active {
      top: 0;
    }
    > .next,
    > .prev {
      position: absolute;
      top: 0;
      width: 100%;
    }
    > .next {
      top: 100%;
    }
    > .prev {
      top: -100%;
    }
    > .next.left,
    > .prev.right {
      top: 0;
    }
    > .active.left {
      top: -100%;
    }
    > .active.right {
      top: 100%;
    }
  }

  .carousel.vertical {
    .carousel-control {
      left: auto;
      width: 50px;
      &.up {
        top: 0;
        right: 0;
        bottom: 50%;
      }
      &.down {
        top: 50%;
        right: 0;
        bottom: 0;
      }
    }
  }
}