<% content_for :sitemap do %>
  <a href="<%= admin_tip_offs_path %>"><%= t("admin.menu.tipOffs")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= '详情'%></span>
<% end %>

<%= render 'form' %>
